.s-1{
    background-image: url("../../imgs/BG\ Image.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 725px;
	h2{
		max-width: 850px;
		width: 100%;
		padding-top: 128px;
		padding-left: 110px;
		color: #FFF;
		font-family: Roboto;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 76.8px */
		margin-bottom: 40px;
	}
	
}
