.s-1{
    background-image: url("https://i.pinimg.com/originals/ce/c4/ee/cec4ee792d64120b28b708c1424c2a45.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 625px;
	padding: 20px 20px;
	h2{
		max-width: 1150px;
		width: 100%;
		padding-top: 128px;
		padding-left: 110px;
		color: #FFF;
		font-family: Roboto;
		font-size: 94px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 76.8px */
		margin-bottom: 40px;
	}
	@media (max-width: 950px){
		height: fit-content;
		h2{
			font-size: 35px;
			margin-top: 20px;
			text-align: center;
			padding: 0 0;
		}
	}
}
